.lateral{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    
    align-items: center;
    justify-content: center;
    gap: 5vmin;
    top: calc(50% - 45vmin);
    height: 90vmin;

    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.lateral img{
    width: 8vmin;
    height: 8vmin;
}
.icon svg, .icon span{
    width: 4vmin;
    height: 4vmin;
    cursor: pointer;
}

/*# Caso apareçam clientes mobile */
@media only screen and (max-width: 1200px) {
    /* Muda a posição da barra */
   .lateral{
        flex-direction: row;
        top: 15px;
        
        height: 10vmin;
        width: 90vmin;
   } 
   
}